PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/attendance_db?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeyforstudentattendanceapp
GEMINI_API_KEY=your_gemini_api_key_here
